table{
    border: solid 1px;
    th{
    border: 2px solid #000000;
    border-spacing;1%;
    }
    td{
    border: 2px solid #000000;
    border-spacing;1%;
    padding:10px;
    background-color:#ffffff;
    }
}