@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

table{
    border: solid 1px;
    th{
    border: 2px solid #000000;
    border-spacing;1%;
    }
    td{
    border: 2px solid #000000;
    border-spacing;1%;
    padding:10px;
    background-color:#ffffff;
    }
}
